.home_page{
    size: 50px;
    color:#4285F4
}
.home_page:hover{
    color: #DB4437;
}

.about_us{
    size: 50px;
    color:#4285F4
}
.about_us:hover{
    color: #DB4437;
}

.contact_us{
    size: 50px;
    color:#4285F4
}
.contact_us:hover{
    color: #DB4437;
}

.project{
    size: 50px;
    color:#4285F4
}
.project:hover{
    color: #DB4437;
}